/*
  Site container
*/

#ctech-box{
  position: relative;
  text-align: center;
  color: white;
}

#ctech-img{
  width: 100%;
  max-width: none;
}


@media only screen and (min-width: 50em)
{
  #ctech-image-text {
    margin-left: -.25rem;
    line-height: 3.5rem;
    font-size: 2.75rem;
    }
}

@media only screen and (min-width: 40.625em)
{
  #ctech-image-text {
  line-height: 2.5rem;
  font-size: 2.5rem;
  }
}
@media only screen and (min-width: 25em)
{
  #ctech-image-text{
  line-height: 2.75rem;
  font-size: 2.25rem;
  }
}
@media only screen and (min-width: 46.875em)
{
  #ctech-image-text{
  padding-right: 75px;
  padding-left: 75px;
  }
}

#ctech-image-text {
  color: white;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  bottom: 13%;
  left: 0;
  width: 100%;
  margin: 0;
  line-height: 1.875rem;
  font-family: "Futura Book";
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.courses {
  border-top: 70px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}
.container a {
  text-decoration: underline;
}
.posts-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
}
.posts-wrapper h1 {
  margin: 20px 0px 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .posts-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
