---
layout: page
title: Lectures
---



{% for post in site.tags.PhysicalComputing %}
  {% if forloop.index > 1 %}
    {% break %}
  {% endif %}
  <a href="{{ site.github.url }}/Lectures/physicalComputing">
    <div class="lectures" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>Physical Computing</span></h2>
    </div>
  </a>
{% endfor %}

{% for post in site.tags.CC1 %}
  {% if forloop.index > 1 %}
    {% break %}
  {% endif %}
  <a href="{{ site.github.url }}/Lectures/cc1">
    <div class="lectures" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>Creative Coding I</span></h2>
    </div>
  </a>
{% endfor %}

{% for post in site.tags.CC2 %}
  {% if forloop.index > 1 %}
    {% break %}
  {% endif %}
  <a href="{{ site.github.url }}/Lectures/cc2">
    <div class="lectures" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>Creative Coding II</span></h2>
    </div>
  </a>
{% endfor %}

{% for post in site.tags.PGS %}
  {% if forloop.index > 1 %}
    {% break %}
  {% endif %}
  <a href="{{ site.github.url }}/Lectures/pgs">
    <div class="lectures" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>Procedural Generation and Simulation</span></h2>
    </div>
  </a>
{% endfor %}

{% for post in site.tags.TBAG %}
  {% if forloop.index > 1 %}
    {% break %}
  {% endif %}
  <a href="{{ site.github.url }}/Lectures/tbag">
    <div class="lectures" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>Theoretical Background for Audio & Graphics</span></h2>
    </div>
  </a>
{% endfor %}

{% for post in site.tags.OrientationProject %}
  {% if forloop.index > 1 %}
    {% break %}
  {% endif %}
  <a href="{{ site.github.url }}/Lectures/oProject">
    <div class="lectures" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>OrientationProject / First Term Projects</span></h2>
    </div>
  </a>
{% endfor %}