<div class="tags">
    <h2>Browse by Tag</h2>

    {% comment %} Sort case insensitive {% endcomment %}
    {% assign tags = "" | split:"" %}
    {% for t in site.tags %}
        {% assign tags = tags | push: t[0] %}
    {% endfor %}

    {% assign sorted_tags = tags | sort_natural %}

    {% for t in sorted_tags %}  
        <a href="/pages/search.html?query=tag%3A{{ t }}" class="tag"><code class="highligher-rouge"><nobr>{{ t }}</nobr></code></a>

        {%- comment -%} Show pages per tag {%- endcomment -%}
        {%- comment -%}
        <a href="/pages/search.html?query=tag%3A{{ t }}" class="tag"><code class="highligher-rouge"><nobr>{{ t }} <span>({{ site.tags[t].size }})</span></nobr></code></a>
        {%- endcomment -%}
    {% endfor %}


</div>