---
layout: page
title: Projects
---

{% include all_tags.html %}

<h2 class="recentprojects">Recent</h2>
{% for post in site.categories.Projects %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}/assets/img/{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}



 {%- comment -%} <li><a href="{{ post.url }}">{{ post.title }}</a></li> {%- endcomment -%}


{%- comment -%} 
{% for post in site.categories.elective %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" 
      {% if post.cover-image %}
        style="background-image:url({{ site.github.url }}/assets/img/test_pics/{{ post.cover-image }})"
      {% else  %}
        style="background-image:url({{ site.github.url }} {{ site.header-image }})"
      {% endif %}
    >
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %} 
{%- endcomment -%}
